.tabs

    .tabs__header

        .table-responsive
            ul.tabs__list
                li.tabs__item
                    a.tabs__link.is-active(href="#temperature") Temperature
                li.tabs__item
                    a.tabs__link(href="#humidity") Humidity
                li.tabs__item
                    a.tabs__link(href="#saved-energy") Saved Energy

    .tabs__panes

        .tabs__tab-pane.is-active

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, porro, dicta!

        .tabs__tab-pane

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, porro, dicta!

        .tabs__tab-pane

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, porro, dicta!
